.side-menu
    h3.side-menu__heading--main DANH MỤC SẢN PHẨM
    img.side-menu__pattern(src="images/pattern/heading-pattern-1.png", alt="")
    h4.side-menu__heading--sub RƯỢU NGOẠI
    -var list = ['Rượu Chivas (26)','Hàng độc-Rượu đọc đáo (36)','Johnnie Walker (46)','Rượu Whisky (24)','Rượu Reni Martin (16)','Rượu Glenmorangie (11)','Rượu Ballantine (7)','Rượu Cognac (11)','Rượu Vodka (93)','Rượu Macallan (11)','Rượu Brandy (62)','Rượu Hennessy (20)','Rượu Gin - Tequila - Liqueur - rượu mùi (36)', 'Rượu Champage (12)','Rượu Single malt Scotch whisky (47)', 'Rượu Spirit (11)']
        each item in list
            a.side-menu__link(href="#")=item
    h4.side-menu__heading--sub RƯỢU VANG
    -var list = ['Pháp (44)', 'Úc (34)','Mỹ (16)','Chile (48)','Philip (1)','Vang Nam Phi (20)','Vang Ý(2)']
        each item in list
            a.side-menu__link(href="#")= Rượu Vang + item